@charset "UTF-8";
/* ----------------------------------- */
/*                 RESET               */
/* ------------------------------------*/
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

ul[role=list],
ol[role=list] {
  list-style: none;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: "Nunito Sans", sans-serif;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

.container {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 1440px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
@media (max-width: 768px) {
  .container {
    width: 375px;
  }
}

.header {
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.06), 0 1px 2px rgba(0, 0, 0, 0.12);
}
.header_nav {
  display: flex;
  justify-content: space-between;
  padding-inline: 5rem;
  margin: auto;
  padding: 15px 0;
  max-width: 1440px;
}
@media (max-width: 768px) {
  .header_nav {
    width: 375px;
  }
}
.header_nav h1 {
  font-size: 1.5rem;
  font-weight: 800;
}

.countries {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.country {
  width: calc(25% - 10px);
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.country div {
  padding: 10px;
}
.country button {
  background-color: inherit;
  outline: none;
  border: none;
  padding: 0;
}
.country h2 {
  margin-top: 0;
  margin-bottom: 10px;
}
.country img {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

/* Eğer 4'erli gruplar yan yana sığmazsa, alt alta geçmesini sağlar */
@media (max-width: 768px) {
  .country {
    width: 100%;
  }
}
.filters {
  display: flex;
  margin: 10px 0;
  justify-content: space-between;
  width: 100%;
}
.filters .search {
  position: relative;
}
.filters .search label {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 5px;
}
.filters .search input[type=text] {
  padding: 12px 40px 12px 25px;
  border: 1px solid hsl(209, 23%, 22%) !important;
  border-radius: 4px;
  font-size: 14px;
  outline: none;
  border: none;
}
.filters .region {
  display: flex;
  align-items: center;
  gap: 12px;
}
.filters .region label {
  color: hsl(0, 0%, 100%);
  font-size: 14px;
}
.filters .region-select__wrapper {
  position: relative;
}
.filters .region-select__wrapper select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: hsl(0, 0%, 100%);
  border: none;
  outline: none;
  color: hsl(209, 23%, 22%);
  padding: 12px 40px 12px 16px;
  font-size: 14px;
  border-radius: 4px;
  border: 1px solid hsl(209, 23%, 22%);
  cursor: pointer;
}
.filters .region-select__wrapper select::-ms-expand {
  display: none;
}
.filters .region-select__wrapper i {
  position: absolute;
  top: 50%;
  right: 16px;
  transform: translateY(-50%);
  color: hsl(209, 23%, 22%);
}

.modal {
  position: absolute;
  width: 100%;
  min-height: 100vh;
  margin-inline: auto;
  top: 0;
  left: 0;
  background-color: hsl(0, 0%, 100%);
  padding: 100px 0 0 0;
}
.modal .container {
  flex-direction: column;
}
.modal-content {
  border-radius: 8px;
  width: 100%;
  color: hsl(209, 23%, 22%);
  display: flex;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .modal-content {
    flex-direction: column;
  }
}
.modal-content h2 {
  font-size: 24px;
  margin-bottom: 20px;
}
.modal-content p {
  font-size: 16px;
  margin-bottom: 10px;
}
.modal-content img {
  width: 800px;
  border-radius: 8px;
  margin-bottom: 20px;
}
.modal_back-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
  padding: 10px 20px;
  background-color: hsl(0, 0%, 100%);
  color: hsl(209, 23%, 22%);
  border: 1px solid hsl(209, 23%, 22%) !important;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  text-transform: uppercase;
  margin-bottom: 50px;
  width: 100px;
}
.modal_back-button:hover {
  background-color: hsl(209, 23%, 22%);
  color: hsl(0, 0%, 100%);
  border: 1px solid hsl(209, 23%, 22%);
}

body {
  transition: background-color 0.5s ease;
}

.dark-mode {
  background-color: hsl(207, 26%, 17%);
  color: hsl(0, 0%, 100%);
}
.dark-mode .header {
  background-color: hsl(209, 23%, 22%);
  color: hsl(0, 0%, 100%);
}
.dark-mode #modal {
  background-color: hsl(207, 26%, 17%);
  color: hsl(0, 0%, 100%);
}
.dark-mode-toggle {
  position: fixed;
  display: inline-block;
  width: 60px;
  height: 34px;
  position: relative;
  background-color: #ccc;
  border-radius: 34px;
  cursor: pointer;
}
.dark-mode-toggle input[type=checkbox] {
  display: none;
}
.dark-mode-toggle label {
  display: inline-block;
  width: 60px;
  height: 34px;
  position: relative;
  background-color: #ccc;
  border-radius: 34px;
  cursor: pointer;
}
.dark-mode-toggle label::after {
  content: "";
  position: absolute;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  top: 4px;
  left: 4px;
  background-color: #fff;
  transition: transform 0.3s ease;
}
.dark-mode-toggle input[type=checkbox]:checked + label {
  background-color: #6b8096;
}
.dark-mode-toggle input[type=checkbox]:checked + label::after {
  transform: translateX(26px);
}
.dark-mode .info {
  color: hsl(0, 0%, 100%);
}
.dark-mode .modal_back-button {
  background-color: hsl(209, 23%, 22%);
  color: hsl(0, 0%, 100%);
  border: 1px solid hsl(0, 0%, 100%) !important;
}
.dark-mode .filters .search input {
  background-color: hsl(209, 23%, 22%);
  color: hsl(0, 0%, 100%);
}
.dark-mode .filters .region label {
  color: hsl(0, 0%, 100%);
}
.dark-mode .filters .region-select__wrapper select {
  background-color: hsl(209, 23%, 22%);
  color: hsl(0, 0%, 100%);
}
.dark-mode .filters .region-select__wrapper i {
  color: hsl(0, 0%, 100%);
}/*# sourceMappingURL=main.css.map */