.container {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 1440px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

  @media (max-width: 768px) {
    width: 375px;
  }
}