.countries {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.country {
  width: calc(25% - 10px);
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;

  div {
    padding: 10px;
  }

  button {
    background-color: inherit;
    outline: none;
    border: none;
    padding: 0;
  }

  h2 {
    margin-top: 0;
    margin-bottom: 10px;
  }

  img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
  }
}

/* Eğer 4'erli gruplar yan yana sığmazsa, alt alta geçmesini sağlar */
@media (max-width: 768px) {
  .country {
    width: 100%;
  }
}