body {
  transition: background-color 0.5s ease;
}

.dark-mode {
  background-color: $color-very-dark-blue;
  color: $color-white;

  .header {
    background-color: $color-dark-blue;
    color: $color-white;
  }

  #modal {
    background-color: $color-very-dark-blue;
    color: $color-white;
  }

  &-toggle {
    position: fixed;

    display: inline-block;
    width: 60px;
    height: 34px;
    position: relative;
    background-color: #ccc;
    border-radius: 34px;
    cursor: pointer;

    input[type="checkbox"] {
      display: none;
    }

    label {
      display: inline-block;
      width: 60px;
      height: 34px;
      position: relative;
      background-color: #ccc;
      border-radius: 34px;
      cursor: pointer;

      &::after {
        content: "";
        position: absolute;
        width: 26px;
        height: 26px;
        border-radius: 50%;
        top: 4px;
        left: 4px;
        background-color: #fff;
        transition: transform 0.3s ease;
      }
    }

    input[type="checkbox"]:checked+label {
      background-color: #6b8096;

      &::after {
        transform: translateX(26px);

      }
    }
  }

  .info {
    color: $color-white;

    .border-list {

      li {
        background-color: $color-very-dark-blue;
        color: $color-white;
        border: 1px solid $color-white;
      }
    }
  }

  .modal_back-button {
    background-color: $color-dark-blue;
    color: $color-white;
    border: 1px solid $color-white !important;
  }

  .filters {
    .search {
      input {
        background-color: $color-dark-blue;
        color: $color-white;
      }
    }

    .region {
      label {
        color: $color-white;
      }

      &-select {
        &__wrapper {

          select {
            background-color: $color-dark-blue;
            color: $color-white;
          }

          i {
            color: $color-white;
          }
        }
      }
    }
  }

  .no-results-message {
    color: $color-white;
  }
}