#modal {
  position: absolute;
  width: 100%;
  min-height: 100vh;
  margin-inline: auto;
  top: 0;
  left: 0;
  background-color: $color-white;
  padding: 30px 0;

}

.modal-content {
  border-radius: 8px;
  width: 90%;
  color: $color-dark-blue;
}

.modal-content h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.modal-content p {
  font-size: 16px;
  margin-bottom: 10px;
}

.modal-content img {
  max-width: 100%;
  border-radius: 8px;
  margin-bottom: 20px;
}

.back-button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #374754;
  border: none;
  border-radius: 8px;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  text-transform: uppercase;
  margin-bottom: 50px;
}

.back-button:hover {
  background-color: #293641;
}

.image-container {
  text-align: center;
  margin-bottom: 20px;
}

.data-container {
  margin-bottom: 20px;
}