#modal {
  position: absolute;
  width: 100%;
  min-height: 100vh;
  margin-inline: auto;
  top: 0;
  left: 0;
  background-color: $color-white;
  padding: 100px 0 0 0;

  .container {
    flex-direction: column;
  }
}

.modal {
  &-content {
    border-radius: 8px;
    width: 100%;
    color: $color-dark-blue;
    display: flex;
    justify-content: space-between;

    h2 {
      font-size: 24px;
      margin-bottom: 20px;
    }

    p {
      font-size: 16px;
      margin-bottom: 10px;
    }

    img {
      width: 800px;
      border-radius: 8px;
      margin-bottom: 20px;
    }
  }
}

.back-button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: $color-white;
  color: $color-dark-blue;
  border: 1px solid $color-dark-blue !important;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  text-transform: uppercase;
  margin-bottom: 50px;
  width: 100px;

  &:hover {
    background-color: $color-dark-blue;
    color: $color-white;
    border: 1px solid $color-dark-blue;
  }
}

.image-container {
  text-align: center;
  margin-bottom: 20px;
}

.data-container {
  margin-bottom: 20px;
}