@charset "UTF-8";
/* ----------------------------------- */
/*                 RESET               */
/* ------------------------------------*/
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

ul[role=list],
ol[role=list] {
  list-style: none;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: "Nunito Sans", sans-serif;
}

a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  max-width: 1440px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.header {
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.06), 0 1px 2px rgba(0, 0, 0, 0.12);
}
.header_nav {
  display: flex;
  justify-content: space-between;
  padding-inline: 5rem;
  margin: auto;
  padding: 15px 0;
  max-width: 1440px;
}
.header_nav h1 {
  font-size: 1.5rem;
  font-weight: 800;
}

.countries {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.country {
  width: calc(25% - 10px);
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.country h2 {
  margin-top: 0;
  margin-bottom: 10px;
}

.country img {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

/* Eğer 4'erli gruplar yan yana sığmazsa, alt alta geçmesini sağlar */
@media (max-width: 768px) {
  .country {
    width: 100%;
  }
}
.filters {
  display: flex;
  margin: 10px 0;
  justify-content: space-between;
  width: 100%;
}

#modal {
  position: absolute;
  width: 100%;
  min-height: 100vh;
  margin-inline: auto;
  top: 0;
  left: 0;
  background-color: #FFFFFF;
  padding: 30px 0;
}

.modal-content {
  border-radius: 8px;
  width: 90%;
  color: hsl(209, 23%, 22%);
}

.modal-content h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.modal-content p {
  font-size: 16px;
  margin-bottom: 10px;
}

.modal-content img {
  max-width: 100%;
  border-radius: 8px;
  margin-bottom: 20px;
}

.back-button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #374754;
  border: none;
  border-radius: 8px;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  text-transform: uppercase;
  margin-bottom: 50px;
}

.back-button:hover {
  background-color: #293641;
}

.image-container {
  text-align: center;
  margin-bottom: 20px;
}

.data-container {
  margin-bottom: 20px;
}

body {
  transition: background-color 0.5s ease;
}

.dark-mode {
  background-color: hsl(209, 23%, 22%);
  color: #FFFFFF;
}
.dark-mode .header {
  background-color: hsl(209, 23%, 22%);
  color: #FFFFFF;
}
.dark-mode-toggle {
  position: fixed;
  display: inline-block;
  width: 60px;
  height: 34px;
  position: relative;
  background-color: #ccc;
  border-radius: 34px;
  cursor: pointer;
}
.dark-mode-toggle input[type=checkbox] {
  display: none;
}
.dark-mode-toggle label {
  display: inline-block;
  width: 60px;
  height: 34px;
  position: relative;
  background-color: #ccc;
  border-radius: 34px;
  cursor: pointer;
}
.dark-mode-toggle label::after {
  content: "";
  position: absolute;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  top: 4px;
  left: 4px;
  background-color: #fff;
  transition: transform 0.3s ease;
}
.dark-mode-toggle input[type=checkbox]:checked + label {
  background-color: #6b8096;
}
.dark-mode-toggle input[type=checkbox]:checked + label::after {
  transform: translateX(26px);
}/*# sourceMappingURL=main.css.map */